.navbar {
    background-color: blue;
    display: flex;
    justify-content: space-between;
}

.navbar-active {
    margin: 1em;
    text-decoration: none;
    color: white;
}

.active {
    text-decoration: underline;
}